{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
Consulta de Saldo - Dispensa de Licitação
{% endblock %}

{% block main %}

    <div class="container-fluid">
        <div class="row g-2 p-2">
            <div class="col-lg-12">
                <h1>Consulta de Saldo - Dispensa de Licitação</h1>
            </div>
        </div>
        <div class="row g-2 p-2">
            <div class="col-lg-12">
                <p>
                  <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiltros" aria-expanded="false" aria-controls="collapseExample">
                    Filtros
                  </button>
                </p>
                <div class="collapse" id="collapseFiltros">
                    <form method="GET" id="consulta_saldo">

                            <div class="row g-2 p-2 form-in">
                              <div class="col-md">
                                <div class="form-floating">
                                  {{ form.subgrupo|htmlattributes:"class: form-select form-select-sm"}}
                                  <label for="floatingSelectOrdem">Subgrupo:</label>
                                </div>
                              </div>
                            </div>
                            <div class="row g-2 p-2">
                                <div class="col-md">
                                    <button id="filtrabtn" class="btn btn-outline-primary btn-sm d-flex" type="submit">
                                       <i class="material-icons">&#xE8B6;</i>
                                       <span class=""> Consultar</span>
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>

        <h2>Saldo Disponível em {{ hoje|date:"SHORT_DATE_FORMAT" }}: R$ {{ saldo_disponivel|floatformat:2 }}</h2>
        <br>
        <br>

        <h4>Processos em andamento</h4>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                  <th scope="col">Número</th>
                  <th scope="col">Objeto</th>
                  <th scope="col">Valor Total</th>
                </tr>
            </thead>
             <tbody>
                {% for processo in processos %}
                <tr>
                  <td>{{ processo.processo_id.numero_sei }}</td>
                  <td>{{ processo.processo_id.descricao }}</td>
                  <td>R$ {{ processo.total|floatformat:2 }}</td>
                </tr>
                {% empty %}
                    <li>Não há processos em andamento com a classificação selecionada.</li>
                {% endfor %}
             </tbody>

        </table>
        Total de processos em andamento: R$ {{ total_andamento|floatformat:2 }}
        <br>
        <br>

        <h4>Contratações</h4>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                  <th scope="col">Número</th>
                  <th scope="col">Objeto</th>
                  <th scope="col">Valor Total</th>
                  <th scope="col">Data de Assinatura</th>
                </tr>
            </thead>
             <tbody>
                {% for contrato in contratos %}
                <tr>
                  <td>{{ contrato.contrato.numero_formatado_com_tipo }}</td>
                  <td>{{ contrato.objeto }}</td>
                  <td>R$ {{ contrato.valor_total |floatformat:2 }}</td>
                  <td>{{ contrato.data_assinatura|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
                {% empty %}
                    <li>Não há contratações efetivadas nos últimos 30 dias para a classificação selecionada.</li>
                {% endfor %}
             </tbody>
        </table>
    Total contratado: R$ {{ total_contratado|floatformat:2 }}
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'customjs/clickablerow.js' %}"></script>
    <script src="{% static 'customjs/fieldmasks.js' %}"></script>
{% endblock %}