{% extends 'base.html' %}
{% load static %}
{% block main %}


<main class="form-signin">
    <div class="row align-content-center">
      <form method="post">
            {% csrf_token %}

        <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="200" height="200">

        <div class="form-floating">

            {{ form.as_p }}

        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
      </form>
    </div>
</main>
{% endblock %}