{% extends 'base.html' %}
{% load l10n %}

{% block title %}
{{ object.processo_id.get_tipo_display }} nº: {{ object.processo_id }}
{% endblock %}

{% block main %}

     <div class="container-fluid">
        {# Início do cabeçalho da DetailView #}
        <div id="detailheader">
         <div class="row g-2 p-2">
              <div class="col-md">
                  <h4>{{ object.processo_id.get_tipo_display }} nº: {{ object.processo_id.numero_sei }}</h4>
              </div>
         </div>
         <div class="row g-2 p-2">
              <div class="col-md">
                  <h4>Objeto: {{ object.processo_id.descricao }}</h4>
              </div>
         </div>
         <div class="row g-2 p-2">
              <div class="col-md">
                  <strong>Status:</strong> {{ object.status }}
              </div>
              <div class="col-md">
                  <strong>Data de entrada na GCO:</strong>  {{ object.data_gco|date:"SHORT_DATE_FORMAT" }}
              </div>
              <div class="col-md">
                  <strong>Modalidade:</strong> {{ object.modalidade }}
              </div>
         </div>
         <div class="row g-2 p-2">
             <div class="col-md">
                  <strong>Classificação:</strong> {{ object.subgrupo.id }} - {{ object.subgrupo }}
             </div>
             <div class="col-md">
                  <strong>Comprador:</strong> {{ object.comprador }}
             </div>
         </div>
        </div>
        {# Fim do cabeçalho da DetailView #}

        <div class="row g-2 p-2 my-2">
         <h5>Solicitações de Compra vinculadas</h5>
        {% for sc in object.solicitacaocompra_set.all %}
        <div class="row g-2 p-2 border-top">
            <div class="col-md">
                <button class="btn btn-toggle align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItens{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">
                      </button>
                <strong>SC: {{ sc.numsc }}</strong>
            </div>
            <div class="col-md">
                Data de emissão: {{ sc.data_emissao|date:"SHORT_DATE_FORMAT" }}
            </div>
            <div class="col-md">
                Prazo: {{ sc.prazo|date:"SHORT_DATE_FORMAT" }}
            </div>
            <div class="col-md">
                Valor total: R$ {{ sc.valor_total|floatformat:2 }}
            </div>
            <div class="row g-2 p-2">
                <div class="collapse" id="collapseItens{{ forloop.counter }}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Valor unitário</th>
                                <th scope="col">Valor total do item</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sc.itens.all %}
                            <tr>
                                <td>{{ item.produto }}</td>
                                <td>{{ item.quantidade|floatformat:2 }}</td>
                                <td>R$ {{ item.valor_unit|floatformat:2 }}</td>
                                <td>R$ {{ item.valor_total|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            {% empty %}
            <div class="row g-2 p-2">
                <div class="col-md">
                Processo sem SC's cadastradas.
                </div>
            </div>
        </div>
        {% endfor %}
        {# Início da seção de botões #}
        <div id="botoes">
        <div class="row g-2 p-2">
            <div class="col-3">
                <a href="{% url 'contratocompra_novo_pc' object.processo_id.id %}" class="btn btn-primary">
                    Lançar contrato
                </a>
            </div>
            <div class="col-3">
                <a href="{% url 'substitutivo_novo_pc' object.processo_id.id %}" class="btn btn-primary">
                    Lançar AS/OC
                </a>
            </div>
        </div>
        <div class="row g-2 p-2">
            <div class="col-3">
                <a href="{% url 'processo_edit' object.processo_id.id %}" class="btn btn-primary">
                    Alterar dados
                </a>
            </div>
            <div class="col-3">
                <a href="{% url 'nova_pesquisa_processo' object.processo_id.id %}" class="btn btn-primary">
                    Nova pesquisa de mercado
                </a>
            </div>
        </div>
        <div class="row g-2 p-2">
            <div class="col-3">
                <a href="{% url 'processos_list' %}" class="btn btn-secondary">
                    Voltar para lista de processos
                </a>
            </div>
        </div>

        </div>
        {# Fim da seção de botões #}
     </div>
{% endblock %}
