{% extends 'base.html' %}

{% block main %}

    <div class="container-fluid">
       <h1>Processos de Compras</h1>
        <a href="{% url 'processo_novo' %}" class="btn btn-info">
            Cadastrar Novo Processo
        </a>
        <br>
        <br>

        <form method="GET">
               <table id="filtra-processos" class="table table-bordered table-striped">
                 <thead>
                   <tr>
                    <th>Número</th>
                    <th>Objeto</th>
                    <th>Modalidade</th>
                    <th>Status</th>
                    <th>Data de entrada</th>
                   </tr>
                 </thead>
               <tbody>
                <tr>
                 <td>{{filter.form.numero_sei}}</td>
                 <td>{{filter.form.descricao}}</td>
                 <td>{{filter.form.modalidade}}</td>
                 <td>{{filter.form.status}}</td>
                 <td>{{filter.form.data_gco}}</td>
                </tr>
               </tbody>
               </table>

               <button id="filtrabtn" class="btn btn-info" type="submit">
                   <i class="material-icons">&#xE8B6;</i>
                   <span> FILTRAR</span>
               </button>

             </form>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Número SEI</th>
                  <th scope="col">Objeto</th>
                  <th scope="col">Modalidade</th>
                  <th scope="col">Status</th>
                  <th scope="col">Data de Entrada</th>
                </tr>
            </thead>
             <tbody>
                {% for processo in filter.qs %}
                <tr class="clickable-row"
                    data-href="{% url 'processo_detail' processo.id %}">
                  <td>{{ processo.numero_sei }}</td>
                  <td>{{ processo.descricao }}</td>
                  <td>{{ processo.modalidade }}</td>
                  <td>{{ processo.status }}</td>
                  <td>{{ processo.data_gco }}</td>
                </tr>
                {% empty %}
                    <li>Sem processos cadastrados ainda.</li>
                {% endfor %}
             </tbody>
        </table>
    </div>
{% endblock %}