{% extends 'base.html' %}

{% block title %}
{{ object.processo_id.get_tipo_display }} nº: {{ object.processo_id }}
{% endblock %}

{% block main %}

     <div class="container-fluid">
         <div class="row g-2 p-2">
              <div class="col-md">
                  <h4>{{ object.processo_id.get_tipo_display }} nº: {{ object.processo_id.numero_sei }}</h4>
              </div>
         </div>
         <div class="row g-2 p-2">
              <div class="col-md">
                  <h4>Objeto: {{ object.processo_id.descricao }}</h4>
              </div>
         </div>
         <div class="row g-2 p-2">
              <div class="col-md">
                  Status: {{ object.status }}
              </div>
              <div class="col-md">
                  Data de entrada na GCO: {{ object.data_gco|date:"SHORT_DATE_FORMAT" }}
              </div>
              <div class="col-md">
                  Modalidade: {{ object.modalidade }}
              </div>
         </div>
        <div class="row g-2 p-2">
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Número</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Quantidade</th>
                </tr>
            </thead>
             <tbody>
                {% for sc in object.solicitacaocompra_set.all %}
                <tr class="clickable-row" data-href="">
                  <td></td>
                  <td>{{ sc.numsc }}</td>
                  <td></td>
                  <td></td>
                </tr>
                {% empty %}
                    <li>Sem SC's cadastradas ainda.</li>
                {% endfor %}
             </tbody>
        </table>
        </div>
        <div class="row g-2 p-2">
            <div class="col-3">
                <a href="{% url 'processo_edit' object.processo_id.id %}" class="btn btn-primary">
                    Alterar dados
                </a>
            </div>
        </div>
        <div class="row g-2 p-2">
            <div class="col-3">
                <a href="{% url 'processos_list' %}" class="btn btn-secondary">
                    Voltar para lista de processos
                </a>
            </div>
        </div>
     </div>
{% endblock %}
