{% extends 'base.html' %}

{% block title %}
{{ object }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
    {# Início do cabeçalho da DetailView #}
    <div id="detailheader">
        <div class="row g-2 p-2">
              <div class="col-md">
                  <h4>Produto: {{ object }}</h4>
              </div>
         </div>
         <div class="row g-2 p-2 my-2 border-top">
              <div class="col-md">
                  <strong> Código:</strong> {{ object.id }}
              </div>
              <div class="col-md">
                  <strong> Número no Protheus:</strong> {{ object.numprotheus }}
              </div>
              <div class="col-md">
                  <strong>Sigla:</strong> {{ object.sigla }}
              </div>
              <div class="col-md">
                  <strong>Unidade:</strong> {{ object.unidade }}
              </div>
         </div>
         <div class="row g-2 p-2 my-2 border-top">
              <div class="col-md">
                  <strong> Subgrupo:</strong> {{ object.subgrupo }}
              </div>
              <div class="col-md">
                  <strong>Tabela de eventos?</strong>
                  {% if object.tabela_eventos %}<i class="material-icons">check_circle_outline</i>{% else %}<span class="material-icons">highlight_off</span>{% endif %}
              </div>
             </div>
             <div class="row g-2 p-2 my-2 border-top">
              <div class="col-md">
                  <strong>Especificações adicionais:</strong> {{ object.especifica }}
              </div>
         </div>
    </div>
    {# Fim do cabeçalho da DetailView #}
     {# Início da seção de botões #}
        <div id="botoes">
        <div class="row g-2 p-2 my-2 border-top">
            <div class="col-3">
                <a href="{% url 'produto_edit' object.id %}" class="btn btn-primary">
                    Alterar dados
                </a>
            </div>
        </div>
        <div class="row g-2 p-2">
            <div class="col-3">
                <a href="{% url 'produtos_list' %}" class="btn btn-secondary">
                    Voltar para lista de produtos
                </a>
            </div>
        </div>
        </div>
    {# Fim da seção de botões #}
    </div>
{% endblock %}
