{% extends 'base.html' %}

{% block title %}
{{ object.contrato.numero_formatado_com_tipo }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
    {# Início do cabeçalho da DetailView #}
    <div id="detailheader">
        <div class="row g-2 p-2">
              <div class="col-md">
                <h4>
                  {% if object.contrato.tipo == 'CCN' %}
                  Contrato
                  {% else %}
                  {{ object.contrato.get_subtipo_display }}
                  {% endif %} nº: {{ object.contrato.numero_formatado }} - Revisão {{ object.ordem }}
                    {% if object.numero_aditamento is not None %}
                    - Aditamento nº {{ object.numero_formatado }}
                    {% endif %}
                </h4>

              </div>
         </div>
         <div class="row g-2 p-2 my-2 border-top">
              <div class="col-md">
                  <strong> Objeto:</strong> {{ object.objeto }}
              </div>
              <div class="col-md">
                  <strong> Contratada:</strong> <a href="{% url 'fornecedor_detail' object.contrato.fornecedor.id %}"> {{ object.contrato.fornecedor }}</a>
              </div>
             <div class="col-md">
                  <strong> Valor Total:</strong> R$ {{ object.valor_total_contrato|floatformat:2 }}
             </div>
         </div>
         <div class="row g-2 p-2 my-2 border-top">
              <div class="col-md">
                  <strong> Vigência atual:</strong> {{ object.data_ini|date:"SHORT_DATE_FORMAT" }} a {{ object.data_fim|date:"SHORT_DATE_FORMAT" }}
              </div>
              <div class="col-md">
                  <strong> Data de assinatura:</strong> {{ object.data_assinatura|date:"SHORT_DATE_FORMAT" }}
              </div>
             <div class="col-md">
                  <strong> Processo:</strong><a href="{% url 'processo_detail' object.contrato.processo.processo_id.id %}"> {{ object.contrato.processo.processo_id.numero_sei }}</a>
             </div>
         </div>
    </div>
    <div class="row g-2 p-2 my-2">
         <h5>Itens</h5>
        <div class="row g-2 p-2 border-top">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Valor unitário</th>
                        <th scope="col">Valor total do item</th>
                        <th scope="col">Saldo Físico</th>
                        <th scope="col">Saldo Financeiro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object.itens.all %}
                    <tr>
                        <td>{{ item.ord_item }}</td>
                        <td>{{ item.produto }}</td>
                        <td>{{ item.quantidade|floatformat:2 }}</td>
                        <td>R$ {{ item.valor_unit|floatformat:2 }}</td>
                        <td>R$ {{ item.valor_total|floatformat:2 }}</td>
                        <td>{{ item.saldo_fisico|floatformat:2 }}</td>
                        <td>R$ {{ item.saldo_fin|floatformat:2 }}</td>
                    </tr>
                        {% empty %}
                         Contrato sem itens cadastrados.
                        {% endfor %}
                </tbody>
            </table>
        </div>

        </div>

    {# Fim do cabeçalho da DetailView #}
     {# Início da seção de botões #}
        <div id="botoes">
            <div class="row g-2 p-2 my-2 border-top">
                <div class="col-3">
                    <a href="{% url 'novo_aditamento_compra' object.contrato.id %}" class="btn btn-primary">
                        Lançar aditamento
                    </a>
                </div>
            </div>
            <div class="row g-2 p-2">
                <div class="col-3">
                    <a href="{% url 'contratoscompras_list' %}" class="btn btn-secondary">
                        Ir para lista de Contratos
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'contratocompra_edit' object.id %}" class="btn btn-secondary">
                        Editar dados
                    </a>
                </div>
                <div class="col-3">
                    {% if object.processo %}
                    <a href="{% url 'processo_detail' object.processo.processo_id.id %}" class="btn btn-secondary">
                        Ir para o processo de compra
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {# Fim da seção de botões #}
    </div>
{% endblock %}
