{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Aditamento da contratação {{ numero_contrato_com_tipo }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h4>{{ ordem_aditamento }}º Aditamento da contratação nº {{ numero_contrato_com_tipo }}</h4>

        <form method="post" id="formContrato">
            {% csrf_token %}
            <div class="row g-2 p-2">
                <div class="col-3">
                    <strong>Contratada: {{ fornecedor }}</strong>
                </div>
                <div class="col-3">
                    <strong>Processo: {{ processo }}</strong>
                </div>
                <div class="col-6">
                    {{ form.numero_aditamento|as_crispy_field }}
                </div>
                <div class="row g-2 p-2">
                    {{ form.objeto|as_crispy_field }}
                </div>
            </div>
            <div class="row g-2 p-2">
                <div class="col-md">
                    {{ object.contrato.fornecedor }}
                </div>
                <div class="col-md">
                    {{ object.contrato.processo }}
                </div>
            </div>
            <div class="row g-2 p-2">
                <div class="col-md">
                    {{ form.data_ini|as_crispy_field }}
                </div>
                <div class="col-md">
                    {{ form.data_fim|as_crispy_field }}
                </div>
                <div class="col-md">
                    {{ form.data_assinatura|as_crispy_field }}
                </div>
            </div>
            <div class="row g-2 p-2 my-2 border-top">
            <h5>Itens</h5>
                <table class="table table-hover">
                    <tbody>

                </table>

            </div>

            <div class="row g-2 p-2">
              <div class="col-2">
                <button type="submit" class="btn btn-success">Salvar</button>
              </div>
               <div class="col-2">

                <a href="" class="btn btn-danger">
                        Sair sem salvar
                </a>

              </div>
        </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'customjs/fieldmasks.js' %}"></script>
    <script src="{% static 'customjs/funcoes_ajax/busca_fornecedor.js' %}"></script>
    <script src="{% static 'customjs/funcoes_ajax/busca_processo.js' %}"></script>
    <script src="{% static 'customjs/jquery.formset.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $('#formContrato tbody tr').formset({
            prefix: '{{ itens.prefix }}',
            addText: 'Adicionar Item',
            deleteText: 'Remover Item'
        });
    })
</script>
{% endblock %}