{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
     <!-- Custom styles for this template -->
    <link href={% static 'sidebar/sidebars.css' %} rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="row mb-3">
      <div class="col-md-3 themed-grid-col">
         {% include 'sidebar.html' %}
      </div>
      <div class="col-md-9 themed-grid-col">
        <div class="container-fluid py-3 px-3">
            <div class="card py-3 px-3">
             {% block main %} {% endblock %}
            </div>
        </div>
      </div>

        {% block js %}
            <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

            <script src="{% static 'sidebar/sidebars.js' %}"></script>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                    });
                });
            </script>
{% endblock %}

</body>
</html>