 {% block sidebar %}
    {% if user.is_authenticated %}
    <div class="flex-shrink-0 px-1 py-1 bg-light" >
        <a href="/" class="d-flex align-items-center px-1 py-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"></svg>
          <span class="fs-5 fw-semibold">Sistema de Gestão de Contratos</span>
        </a>
        <ul class="list-unstyled ps-3 pt-3">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cadastros-collapse" aria-expanded="false">
              Cadastros
            </button>
            <div class="collapse" id="cadastros-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'produtos_list' %}" class="link-dark rounded">Produtos</a></li>
                <li><a href="{% url 'fornecedores_list' %}" class="link-dark rounded">Fornecedores</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#compras-collapse" aria-expanded="false">
              Compras
            </button>
            <div class="collapse" id="compras-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'processos_list' %}" class="link-dark rounded">Processos de Compras</a></li>
                <li><a href="#" class="link-dark rounded">Licitações</a></li>
                <li><a href="{% url 'sc_list' %}" class="link-dark rounded">Solicitações</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#contratos-collapse" aria-expanded="false">
              Contratos
            </button>
            <div class="collapse" id="contratos-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'contratoscompras_list' %}" class="link-dark rounded">Contratos</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#eventos-collapse" aria-expanded="false">
              Eventos
            </button>
            <div class="collapse" id="eventos-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="" class="link-dark rounded">Ordens de Fornecimento</a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              {{ user.first_name }}
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'password_change' %}" class="link-dark rounded">Trocar senha</a></li>
                <li><a href="{% url 'logout' %}" class="link-dark rounded">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
    {% endif %}
{% endblock %}